/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
/* 小屏幕（平板，大于等于 768px） */
/* 中等屏幕（桌面显示器，大于等于 992px） */
/* 大屏幕（大桌面显示器，大于等于 1200px） */
body,ul,.container-fluid,.row{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
html{
		font-size: 100px;
	}
.col-lg-0{
		display: none!important;
	}
@media only screen and (max-width:1200px){
	.col-md-0{
		display: none;
	}
}
@media only screen and (max-width:993px){
	.col-sm-0{
		display: none;
	}
}
@media only screen and (max-width:768px){
	.col-xs-0{
		display: none;
	}
}

.header{
	background: #efefef;
	height: 26px;
	border-bottom: 1px solid #dadada;
}
.header span{
	height: 26px;
	float: right;
	font-size:0.14rem;
	line-height:26px;
	font-family:"微软雅黑";
}
.nav{
	height: 64px;
	border-bottom: 0.01rem solid #dadada;
}
nav .list{
	overflow: hidden;
	height: 64px;
}
nav .list>span{
	display: inline-block;
	width: 45px;
	height: 40px;
	background: url(../img/h_sp-gnb-mo.png) 0 -40px;
}
.nav ul{
	overflow: hidden;
}
.nav .fl{
	margin-left: -0.8rem;
}
.nav .fr{
	margin-right: -0.8rem;
}
.nav li{
	float: left;
}
.nav .fr{
	float: right;
}
.nav a{
	display: table-cell;
    position: relative;
    height: 64px;
    padding-right:0.12rem;
    font-weight: bold;
    color: #363636;
    font-size: 0.14rem;
    line-height: 0.18rem;
    vertical-align:middle;
    text-transform: uppercase;
    cursor: pointer;
}
.nav a:hover{
	text-decoration: none;
	color: #1428a0;
	border-bottom: 2px solid #1428a0;
}
#a_search{
	display: table-cell;
	width: 0.40rem;
	padding: 0.21rem;
}
#a_search>span{
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-top: 4px;
	background: url(../img/h_sp-gnb-pc.png) no-repeat -34px -22px;
}
#a_search:hover{
	border-bottom: 0;
}
.logo{
	width: 128px;
	height: 20px;
	overflow: hidden;
	margin: 0.23rem auto;
}
.icon_svg_newWindow{
	display: inline-block;
	width: 0.1rem;
    height: 0.1rem;
    margin-left: 4px;
    margin-top: 2px;
    background-size: 1.6rem 1.62rem;
    background-image: url(../img/h_sp-gnb-pc.png);
    background-position: 0 -0.23rem;
    background-repeat: no-repeat;
    color: transparent;
}
.sybar{
	height: 0.50rem;
}
.sybar>.col-lg-1{
	height: 0.50rem;
}
.sybar>.col-lg-10{
	height: 0.50rem;
}
.sy>a{
	line-height: 0.5rem;
	color:#636363;
	font-size: 0.11rem;
}
.sy>span{
	line-height: 0.5rem;
	font-weight: bold;
	font-size: 0.11rem;
	color:#636363;
}
.sy>.line{
	display: inline-block;
    color: #000;
    font-size: 0.12rem;
    padding: 0 0.02rem;
}
.img_pc{
	position: relative;
	height: 38.9vw;
}
.img_pc>.col-lg-12{
	height: 38.9vw;
	background: url(../img/h_support-kv-pc.jpg);
	background-size:100% 38.9vw ;
}
.img_pc>.title{
	position:absolute;
	top: 1.10rem;
	left: 1.00rem;
	width: 6.22rem;
	height: 3.16rem;
	z-index: 2;
}
.img_pc>.title>h1{
    font-size: 5vw;
    font-weight: bold;
    word-wrap: break-word;
}
.img_pc>.title>.form-inline>.form-group>.input-group{
	width: 4.92rem;
	height: 0.44rem;
    border: 0.01rem solid #ccc;
	border-radius:0.04rem;
}
.img_pc>.title>.form-inline>.form-group>.input-group>.form-control{
	height: 0.44rem;
	border:0;
	outline: 0;
}
.img_pc>.title>.form-inline>.form-group>.input-group>.input-group-addon{
	background: transparent;
	padding-right:0rem;
	border: 0;
}
.img_pc>.title>.form-inline>.form-group>.input-group>.input-group-addon>span{
	display: inline-block;
	height:0.2277rem;
	width: 0.2277rem;
	vertical-align:middle;
	background: transparent url(../img/svg-search.svg) no-repeat;
}
.img_pc>.title>a{
	display: inline-block;
	margin-top: 0.15rem;
	text-decoration: underline;
	font-size: 0.97222vw;
    color: #000
}
.img_pc>.title>h2{
	margin-top: 0.25rem;
	display: block;
    font-size: 1.66667vw;
    font-family: "SamsungSharpSans",arial;
    font-weight: bold;
    color: #000
}
.img_pc>.title>ul{
	font-size: 1.11111vw;
    line-height: 1.5;
    font-weight: normal;
}
.img_pc>.title>ul>li>a{
	color: #666;
}
.img_pc>.title>ul>li>a:hover{
	color: #1428a0;
}
@media screen and (max-width: 1306px){
    
}
@media only screen and (min-width:1200px){
}
@media only screen and (max-width:992px){
	/*.flex_list>a{
		display:table-cell;
		height: 64px;
		width:auto;
		vertical-align: middle;
	}
	.flex_list>a:hover{
		text-decoration: none;
	}*/
	.img_pc{
	position: relative;
	top: 0;
	left: 0;
	height: 38.9vw;
	}
.img_pc>.col-lg-12{
	height: 38.9vw;
	background: url(../img/h_support-kv-pc.jpg);
	background-size:100% 38.9vw ;
}
.img_pc>.title{
	position:absolute;
	top: 1.10rem;
	left: 1.00rem;
	width: 6.22rem;
	height: 3.16rem;
	z-index: 2;
	text-align: left;
}
.img_pc>.title>h1{
	margin-top: 0.1rem;
    width: 100%;
    font-size: 5vw;
    font-weight: bold;
    word-wrap: break-word;
}
.img_pc>.title>.form-inline>.form-group>.input-group{
	margin: 0;
	width: 4.92rem;
	height: 0.44rem;
    border: 0.01rem solid #ccc;
	border-radius:0.04rem;
}
.img_pc>.title>.form-inline>.form-group>.input-group>.form-control{
	height: 0.44rem;
	border:0;
	outline: 0;
}
.img_pc>.title>.form-inline>.form-group>.input-group>.input-group-addon{
	background: transparent;
	padding-right:0rem;
	border: 0;
}
.img_pc>.title>.form-inline>.form-group>.input-group>.input-group-addon>span{
	display: inline-block;
	height:0.2277rem;
	width: 0.2277rem;
	vertical-align:middle;
	background: transparent url(../img/svg-search.svg) no-repeat;
}
.img_pc>.title>a{
	display: inline-block;
	margin-top: 0.15rem;
	text-decoration: underline;
	font-size: 0.97222vw;
    color: #000
}
.img_pc>.title>h2{
	margin-top: 0.25rem;
	display: block;
    font-size: 1.66667vw;
    font-family: "SamsungSharpSans",arial;
    font-weight: bold;
    color: #000
}
	.img_pc>.title>ul{
	font-size: 1.11111vw;
    line-height: 1.5;
    font-weight: normal;
}
.img_pc>.title>ul>li>a{
	color: #666;
}
.img_pc>.title>ul>li>a:hover{
	color: #1428a0;
}
}
@media only screen and (max-width:768px){
	/*.flex_list>a{
		display:block;
		height: 0.54rem;
		width: 100%;
	}*/
	.img_pc>.title{
		position:relative;
		width: 100%;
		top: 0;
		left: 0;
		height: 78.9vw;
		text-align: center;
	}
	.img_pc>.title>h1{
		width: 70%;
		margin: 10px auto;
		margin-top: 10vw;
		font-size: 80px;
	}
	.img_pc>.title>.form-inline>.form-group>.input-group{
		width: 80%;
		height: 30px;
		margin: 0.2rem auto;
	}
	.img_pc>.title>.form-inline>.form-group>.input-group>.form-control{
		height: 40px;
	}
	img_pc>.title>.form-inline>.form-group>.input-group>.input-group-addon{
		width: 60px;
	}
	.img_pc>.title>.form-inline>.form-group>.input-group>.input-group-addon>span{
		width: 23px;
		height: 23px;
		margin-right: 15px;
	}
	.img_pc>.title>h2{
		font-size:5vw ;
	}
	.img_pc>.title>a{
		font-size: 3.33vw;
		margin-bottom: 40px;
	}
	.img_pc ul{
		font-size: 3.33vw;
	}
}